


body{
    text-align: center;
    background: rgb(107,186,222);
    background: -moz-linear-gradient(90deg, rgba(107,186,222,1) 0%, rgba(232,156,205,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(107,186,222,1) 0%, rgba(232,156,205,1) 100%);
    background: linear-gradient(90deg, rgba(107,186,222,1) 0%, rgba(232,156,205,1) 100%);

}

div{
    display: inline-block;
}

button{
    display: inline-block;
    padding: 10px 20px;
}

input{
    display: inline-block;
    padding: 10px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}